@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .input {
    @apply w-full rounded-md text-sm  px-4 outline-none shadow-sm border-gray-300 border placeholder:italic placeholder:text-gray-500;
  }
  .card {
    @apply bg-white rounded-lg p-4 w-full;
  }
  .paper {
    @apply shadow-md;
  }
  .button {
    @apply text-white px-3 py-1 rounded bg-gray-400;
  }
}

.bg-primary {
  background-color: #efa804;
}
.text-primary {
  color: #efa804;
}


.bg-yellow{
  background-color: rgba(239, 168, 4, 0.1);
}

.bg-yellow::before{
  right: 0;
  left: 0;
  position: absolute;
  display: block;
  height: 2px;
  width: 70%;
  margin: auto;
  bottom: 0;
  content: "";
	background-color: #EFA804
}

.custom-box{
  height: 40vh;
  overflow: scroll;
}

.mydflex{
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}
.mydflex:nth-of-type(1){
  width: 50%;

}
.btn-yellow{
  padding: 10px;
}

.heading{
  margin: 20px 8px;
}
.heading button:first-child{
  padding: 10px;
  border-radius: 8px;
  background: #EFA804;

}


.heading button:nth-child(2){
  margin-left: 8px;
  border-radius: 8px;
  padding: 10px;
  background: #fff;

}

.label{
  width: 25%;
}